<!doctype html>
<html>
<head>
  <title>Gardener Cafè</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Gardener Cafè</h1>
      <h2>Add an Order</h2>
        <form action="/cashier" method="POST">
          <input type="text" placeholder="Customer Name" name="name">
          <input type="text" placeholder="Order" name="order">
          <button type="submit">Submit</button>
        </form>
      </div>
      <p>Login or Signup:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

  </div>
</body>
</html>
